/ meta property="og:locale" content="en_US"
/ meta property="og:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"
/ meta property="og:url" content="{{ site.url }}{{ page.url }}"
/ meta property="og:image" content="{{ site.url }}/assets/img/s/logo.png" 
/ meta property="og:site_name" content="Onehtmlsig"
/ meta property="og:description" content="{% if page.meta.description %}{{ page.meta.description }}{% else %}{{ site.description }}{% endif %}"

/ meta name="twitter:card" content="{{ site.url }}/assets/img/card.png"
/ meta name="twitter:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"
/ meta name="twitter:description" content="{% if page.meta.description %}{{ page.meta.description }}{% else %}{{ site.description }}{% endif %}"
/ meta name="twitter:site" content="@onehtmlsig" 
/ meta name="twitter:creator" content="@onehtmlsig"
/ meta name="twitter:card" content="{% if page.meta.description %}{{ page.meta.description }}{% else %}{{ site.description }}{% endif %}"

/ meta name="title" content="{{ page.title }}" 
/ meta name="description" content="{{ page.meta.description }}" 
/ meta name="date" content="{{ page.date }}" 
/ meta name="keywords" content="{{ page.meta.keywords }}" 
/ meta name="viewport" content="width=device-width, initial-scale=1"


/ link rel="canonical" href="{{ page.url | absolute_url }}" 
/ link rel="alternate" hreflang="en" href="{{ page.url | absolute_url}}" 