@import "~bulma/sass/utilities/functions";
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/derived-variables";
@import "~bulma/sass/utilities/mixins";

$link: #eee;
$background: #1e211b;
$body-background-color:	#1e211b;

.is-b {
  /* background-color: #464f3d !important; */
  background-color:#1e211b !important;
}
.is-orange {
  background-color: #ffa100 !important;
}
.is-yellow {
  background-color: #ffc200 !important;
}

.is-b h1,
.is-b h2,
.is-b a,
.is-b a:hover,
.is-b a:active {
  color: #fff;
}
.notification {
  display: none;
}
.notification.is-b {
  color: #fff;
}

@media (max-width: 768px) {
  .reverse-columns {
    flex-direction: column-reverse;
    display: flex;
  }
  .tabs ul{
    flex-direction: column;
    align-items: flex-start;
  }
  .tabs ul li a {
    align-self: flex-start;
    border: 0;
    font-size: 1.4rem;
    padding-left: 0;
  }
  .logo-column {
    justify-content: center;
    display: flex;

    .logo {
      width: 70%;
      padding: 50px 0;
    }
  }
}

span[data-tooltip] {
  border-bottom: 2px dashed #fff !important;
}

.tabs li:first-child a {
  padding-left: 0 !important;
}

.notification {
  display: block;
  
  &.cornered {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

ul.footer-creds {
  display: inline-flex;
}

#footer.fixed {
  position: absolute;
  bottom: 0;
  left: 0;
}

//  plans 
.plans {
  display: flex;
  flex-flow: row wrap;
  @include until($desktop) {
    flex-direction: column-reverse;
  }
}

.plan {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background-color: #fff;
  border: 0.2rem solid #f5f5f5;
  border-radius: 4px;
  list-style-type: none;
  transition: 0.25s;
  margin: .5em;
  @include until($desktop) {
    margin: 0.5em 0;
  }
}
.plan:first-child {
  margin-left: 0;
}

.plan-header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #fff;
  color: #4a4a4a;
  font-size: 1.25rem;
  font-weight: 600;
  padding: .75em;
  align-content: center;
  text-align: center;
}
.plan-price {
  background-color: #fff;
  color: #4a4a4a;
  font-size: .75rem;
  font-weight: 400;
  padding: .75em;
  align-content: center;
  text-align: center;
}
.plan-price-amount {
  font-size: 2.5rem;
  font-weight: 700;
}
.plan-price-currency {
  vertical-align: super;
  font-size: 1rem !important;
  font-weight: 400 !important;
  color: #4a4a4a;
  margin-right: .25rem;
}
.plan-footer {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: .75em;
  align-content: center;
  text-align: center;
  margin-top: auto;
}
.plan-note {
  font-size: 0.7rem;
  text-align: center;
  color: hsl(0, 0%, 71%);
}

.faded {
  opacity: 0.5;    
}

.tag.selected-plan {
  display: flex;
  height: 40px;;
}

.image-showcase {
  max-width: 70%;
}

@media (max-width: 768px) {
  .image-showcase {
    max-width: 100%;
  }
}